<%= form_for @product do |f| %>
  <div>
    <%= f.text_field :name, placeholder:"Nombre del Producto" %>
  </div>
   <div>
    <%= f.number_field :price, placeholder:"Precio del Producto" %>
  </div>
    <div>
          <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |b| %>
            <div>
              <%= b.check_box %>
              <%= b.label %>
            </div>
          <% end %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>